:root {
    --calc-color: rgb(56, 56, 56);
}

body {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    font-family: monospace;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    gap: 20px;
    background-color: var(--calc-color);
    padding: 25px 0 25px 0;
    border-radius: 10px;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 27px;
    height: 50px;
    width: 330px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #b0beba;
    border-radius: 5px;
}

button {
    font-family: monospace;
    border: 0px;
    border-radius: 10px;
}

button:active {
    border: 3px solid var(--calc-color);
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.numbers {
    width: 57.5%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,60px);
}

.operands {
    width: 37.5%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,60px);
}

.number, .operand, .ce, .equal, .dot {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.number,.operand {
    width: 60px;
    height: 60px;
}

.number {
    background-color: lightblue;
}

.zero {
    width: 130px;
}

.dot {
    width: 60px;
    height: 60px;
    background-color: rgb(160, 70, 70);
    margin-left: 70px;
}

.operand {
    background-color: rgb(65, 158, 158);
    color: whitesmoke;
}

.equal {
    width: 130px;
    height: 60px;
    background-color: rgb(206, 47, 206);
    color: whitesmoke;
}

.ce {
    width: 60px;
    height: 60px;
    background-color: rgb(214, 0, 0);
    font-size: 20px;
    color: whitesmoke;
}

@media only screen and (max-width: 450px) {
    body {
        display: flex;
        align-items: flex-start;
        justify-content: center;  
        font-family: monospace;
    }
    .calculator {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        gap: 20px;
        background-color: var(--calc-color);
        padding: 25px 0 25px 0;
        border-radius: 10px;
    }
    
    .display {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-size: 27px;
        height: 50px;
        width: 180px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #b0beba;
        border-radius: 5px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .numbers {
        width: 57.5%;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3,60px);
        order: 2;
    }
    
    .operands {
        width: 37.5%;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3,60px);
        
    }

    .equal {
        order: 10;
    }
    .add {
        order: 1;
    }
    .subtr {
        order: 2;
    }
    .multiply {
        order: 3;
    }
    .divide {
        order: 4;
    }
    .percent {
        order: 6;
    }
    .ce {
        order: 3;
    }
}